<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header">Categories ({{ categories | length }})</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
         <ul class="list-unstyled mb-0">
          {% for index, category in categories %}
          <li>
              {{- category.name -}}
          </li>
          {% else %}
          No categories yet.
          {% endfor %}
          </ul>
      </div>
  </div>
</div>